# Основні бібліотеки
psycopg2-binary   # робота з PostgreSQL
python-dotenv     # завантаження конфігурацій із .env
PyQt5             # інтерфейс

# Аналітика та візуалізація
matplotlib        # графіки
seaborn           # розширена візуалізація
pandas            # робота з таблицями та CSV

# Додатково (опціонально)
numpy             # математичні обчислення
